/* Style.css */

/* Global Styles */

@font-face {
  font-family: "Khalid";
  src: url("https://raw.githubusercontent.com/zezokam/Principles-/main/Fonts/Khalid.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Khalid", serif;
  background-color: #f1f1f1;
  color: #333; /* Default text color */
  margin: 0;
}

/* Header Styles */

header {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  color: #000; /* Header text color in light mode */
}

/* Main Content Styles */

main {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 90px); /* Adjusted for header and footer */
}

a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  margin-top: 30px;
  color: #0078d4; /* Link color for better visibility */
}

.choice-description {
  font-size: 12px; /* Adjusted choice description font size */
  color: #555; /* Description text color */
  margin-top: 5px;
}

/* Footer Styles */

footer {
  width: 100%;
  background-color: #616060;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  color: #fff; /* Footer text color */
}

/* Dark Mode Styles */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
  }

  header {
    background-color: #222; /* Dark mode header background color */
    color: #fff; /* Header text color in dark mode */
  }

  a {
    color: #4dabf7; /* Link color in dark mode for better visibility */
  }

  .choice-description {
    color: #ccc; /* Description text color in dark mode */
  }

  footer {
    background-color: #444; /* Footer background color in dark mode */
  }
}
